"*":
  "atom-beautify":
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      keep_array_indentation: true
      keep_function_indentation: true
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 13
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "7b9e1ff2-46dd-450a-8dc6-d8801895d8d7"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    showPanel: true
    showProviderName: true
    statusBarRepresents: "Current File"
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
