# Your keymap
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'atom-text-editor':
  'alt--': 'editor:fold-all'
  'alt-+': 'editor:unfold-all'
  'ctrl--': 'editor:fold-current-row'
  'ctrl-+': 'editor:unfold-current-row'
  'f12 j': 'macros:tfwSwitchToJS'
  'f12 x': 'toloframework:switch-to-xjs'
  'f12 c': 'macros:tfwSwitchToCSS'
  'f12 i': 'macros:tfwSwitchToINI'
  'f12 d': 'macros:tfwSwitchToDEP'
  'f12 v': 'macros:tfwSwitchToVERT'
  'f12 f': 'macros:tfwSwitchToFRAG'
  'ctrl-shift-J': 'jsdoc:block'

'atom-text-editor[data-grammar="source gfm"]:not([mini])':
  'tab': 'markdown-folding:cycle'
'.platform-win32, .platform-linux':
  'alt-$': 'tree-view:toggle-focus'
  'ctrl-$': 'tree-view:toggle'
